.ui-effects-transfer { border: 2px solid black; }

.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }

.fg-button { clear:left; margin:3px 2px 2px 2px; padding: .4em .4em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
a.fg-button { float:right;  }
button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE */

.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-center .ui-icon { left: auto; right: auto; }
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	

.td-panel .new-button {
    font-size:90%;
    padding: 5px 15px 5px 15px; 
    margin: 10px 0px 10px 0px;
    text-decoration: none;
}

.td-panel-list {
    margin: 25px 0px 10px 0px;
}

.td-panel li {
    font-size:90%;
    margin: 10px 0px 10px 0px;
}
.td-panel ul {
    padding-left: 0em;
}

.td-item {
    list-style-type: none;
    margin: 0;
    padding: 0px 10px 15px 25px;
    background: url(/static/img/todo_item_icon.gif) left top no-repeat;
}

.td-list {
    list-style-type: none;
    margin: 0;
    padding: 1px 0px 7px 25px;
    background: url(/static/img/todo_item_icon.gif) left top no-repeat;
}

.td-label {
    list-style-type: none;
}

/* AngularJS animations */

.highlightit.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    
    background: gold;
}

.highlightit.ng-enter-active {
    background: #fff;
}

.highlightit.ng-leave {
    -webkit-transition: 1s;
    transition: 1s;
    
    background: gold;
}

.highlightit.ng-leave-active {
    background: #fff;
}

.highlightit.ng-move {
    -webkit-transition: 1s;
    transition: 1s;
    
    background: gold;
}

.highlightit.ng-move-active {
    background: #fff;
}