<!DOCTYPE html>
<html ng-app="trueDoList">
  <head>
    <title>TrueDoList</title>

    <link rel="stylesheet" 
          href="/static/css/blueprint/screen.css" 
          type="text/css" media="screen, projection"/>

    <link rel="stylesheet" 
          href="/static/css/blueprint/print.css" type="text/css" media="print"/>

    <!--[if lt IE 8]>
    <link rel="stylesheet" 
          href="/static/css/blueprint/ie.css" 
          type="text/css" media="screen, projection"/>
    <![endif]-->
    
    <link rel="stylesheet" 
          href="/static/css/blueprint/plugins/fancy-type/screen.css"
          type="text/css" media="screen, projection"/>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css"
          type="text/css"
          rel="stylesheet"/>
    
    <link rel="stylesheet" 
          href="/static/css/screen.css"
          type="text/css" media="screen, projection"/>
<!--
    <link type="text/css" 
          href="http://jqueryui.com/latest/themes/base/ui.all.css" 
          rel="stylesheet" />
-->

<!--    <link rel="stylesheet" 
          href="/static/css/blueprint/plugins/buttons/screen.css"
          type="text/css" media="screen, projection"/>-->

<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"
            type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" 
            type="text/javascript"></script>
 -->
    <script src="/static/js/angular/angular.js"
            type="text/javascript"></script>
    <script src="/static/js/angular/angular-resource.js"
            type="text/javascript"></script>
    <script src="/static/js/angular/angular-route.js"
            type="text/javascript"></script>
    <script src="/static/js/angular/angular-animate.js"
            type="text/javascript"></script>
  </head>

<body>
<div id="container" class="container" ng-controller="TodoListController">
  <div class="span-19">
    <h1><span class="alt">True Do List</span></h1>
  </div>
  <div class="span-5 last">
    <a href="#">Profile</a> |
    <a href="#">Preferences</a> | 
    <a href="#">Logout</a>
  </div>
  <div class="span-24 last">
    <hr/>
  </div>
  <form method="post" id="inputForm" action="#">
    <div class="span-8">
      <input ng-model="itemEditInput" class="title"/>
    </div>
    <div class="span-4">
      <br/>
      <div id="itemEditButtons">
        <button ng-show="! editItemId" ng-click="addItem()" type="button">+ New Item</button>
        <button ng-show="editItemId" ng-click="saveItem()" type="button">Save Item</button>
        <button ng-show="editItemId" ng-click="cancelEdit()" type="button">Cancel</button>
      </div>
    </div>
    <div class="span-12 last">
      <div id="statusMessageArea"></div>
    </div>
  </form>
  <div class="span-24 last">
    <hr/>
  </div>
  
  <div class="span-5 colborder">
    <div id="by-label">
      <h3><a href="#">Labels</a></h3>
      <div class="td-panel">
        <a id="newLabelButton" class="new-button" href="#">+ New Label</a>
        <br/>
        <ul id="labels" class="td-panel-list">
          <li ng-repeat="label in labels" class="td-label">
            {{label.title}}
          </li>
        </ul>
      </div>
    </div>
    <div id="by-list">
      <h3><a href="#">Lists</a></h3>
      <div class="td-panel">
        <a id="newListButton" class="new-button" href="#">+ New List</a>
        <br/>
        <ul id="lists" class="td-panel-list">
          <li ng-repeat="list in lists" class="td-list">
            <span ng-click="selectList(list.id, list.title)" >{{list.title}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="items" class="span-18 last">
    <h2 class="alt">{{listTitle}}</h2>
    <ul>
      <li class="td-item" ng-repeat="item in listItems">
          <!-- ng-class="{highlightit: $last}" -->
        <span ng-click="showOptions = ! showOptions">{{item.title}}</span>
        <div ng-show="showOptions">
          <span ng-click="beginEdit(item.id, item.title)">Edit</span>
          <span ng-click="">Delete</span>
          <span ng-click="">Move</span>
          <span ng-click="cancelAction(item.id, item.title); showOptions = false;">Cancel</span>
          <span ng-click="">Highlight</span>
          <span ng-click="">Unhighlight</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<script src="/static/ang.js" type="text/javascript"></script>
</body>
</html>
